.App {
    text-align: center;
    padding: 40px;
}

.App-header {
    background-color: teal;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.home {
    /* border: 5px palegoldenrod solid; */
    background-color: lightgray;
}

.login {
    /* border: 2px green solid; */
    background-color: gray;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userpage {
    display: flex;
    flex-direction: column;
}

.userpage-section {
    display: flex;
    flex-direction: row;
}

.list {
    border: 2px lightgray solid;
    background-color: lightgoldenrodyellow;
    min-height: 400px;
    width: 50%;
}

.messages {
    border: 2px lightgoldenrodyellow solid;
    background-color: lightgray;
    min-height: 400px;
    width: 50%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
